<ni-breadcrumb [menu]="breadcrumb" [style]="'custom1'" class="mb-4"></ni-breadcrumb>

<div class="row">
  <div class="col-lg-4 employer-card" *ngFor="let employer of employers; let i = index;">
    <md-card>
      <md-card-header>
        <div md-card-avatar><img src="assets/content/avatar-2.jpg" width="40" height="40"></div>
        <md-card-title><strong>{{employer.name}}</strong></md-card-title>
        <md-card-subtitle>{{employer.telephoneNumber}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p *ngIf="!employer.description; else descriptionProvided">
          You are seeing this description because no description has been provided.
        </p>
        <ng-template #descriptionProvided>
          <p>
            {{employer.description}}
          </p>
        </ng-template>
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent">Signed-up Employees</button>
      </md-card-actions>
    </md-card>
  </div>
</div>